<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920579582410-imult6f631drn719ooddruc38hvsocit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920579582410-imult6f631drn719ooddruc38hvsocit</string>
	<key>API_KEY</key>
	<string>AIzaSyBYZSNaaDAcOyxyoc84IUJ9AofNB3-9vXc</string>
	<key>GCM_SENDER_ID</key>
	<string>920579582410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-8e8fc</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-8e8fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920579582410:ios:3f4de96f5d2cc5b29b0733</string>
</dict>
</plist>